
header {
    background-color: #ff009d;
    color: #faf5f8;
}
 body {
    background-color: aliceblue;
    color: #ff009d;
 }
 .classe 1 {
    background-color: aliceblue;
    color:  #ff009d;
 }
 .imagem header {
   width: 10px;
 }