
header {
    background-color: #ff009d;
    color: #faf5f8;
}

 body {
    background-color: aliceblue;
    color: #ff009d;
}

.classe 1 {
    background-color: aliceblue;
    color:  #ff009d;
 }
 .classe 2 { 
   background-color: aliceblue;
   color:#ff009d;
 }
 .img-3 {
   width: 30px;
 }

 .img-2 {
   width: 30%;
 }

 .img-3 {
   width: 30%;
 }